/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

/* img, */
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/*Custom CSS*/

@font-face {
	font-family: 'Playfair Display';
	src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
	/* font-weight: 1 999; */
}

@font-face {
	font-family: 'WorkSans';
	src: url(/fonts/WorkSans-VariableFont.ttf) format('truetype');
}

.gsap-marker-start,
.gsap-marker-end,
.gsap-marker-scroller-start,
.gsap-marker-scroller-end {
	z-index: 9999 !important;
}

:root {
	--clr-black-red: #151010;
	--clr-charcoal: #212121;
	--clr-dark-charcoal: #141414;
	--clr-pink: #f3e3e3;
	--clr-lightGrey: #dbd9d9;
	--clr-clay: #c26f67;
	--clr-terracotta: #d85245;

	--space-unit: 0.5rem;
	--space-xs: calc(var(--space-unit) * 0.5); /* 0.25rem = 4px */
	--space-sm: var(--space-unit); /* 0.5rem = 8px */
	--space-md: calc(var(--space-unit) * 2); /* 1rem = 16px */
	--space-lg: calc(var(--space-unit) * 3); /* 1.5rem = 24px */
	--space-xl: calc(var(--space-unit) * 4); /* 2rem = 32px */
	--space-xxl: calc(var(--space-unit) * 6); /* 3rem = 48px */
	--space-xxxl: calc(var(--space-unit) * 8); /* 4rem = 64px */
	--space-xxxxl: calc(var(--space-unit) * 16); /* 8rem = 128px */

	--height-menu: 72px;
	--height-viewable: calc(100vh - var(--height-menu));
	--width-content: 720px;
	--width-site: 1024px;

	--font-sans: 'WorkSans', Aria, Helvetica, sans-serif;
	--font-serif: 'Playfair Display', sans-serif;
	--font-size-body: 1.1rem; /* Base font size for body text */
	--font-size-caption: 0.875rem; /* Smaller text */
	--font-size-subheading: 1.25rem; /* Subheading, slightly larger than body text */
	--font-size-heading: 1.5rem; /* Main headings */
	--font-size-large-heading: 2rem; /* Larger headings */
	--font-size-hero: 2.5rem; /* Hero or very large titles */
	--font-size-large-hero: 4rem; /* Hero or very large titles */
	--font-family-body: var(--font-sans);
	--font-family-heading: var(--font-serif);

	--radius-corner: 16px;

	--glass-light: rgba(224, 224, 224, 0.5);
	--glass-dark: rgba(29, 29, 29, 0.5);
}

[data-theme='light'] {
	--clr-bg-main: var(--clr-pink);
	--clr-bg-contrast: var(--clr-pink);
	--clr-text: var(--clr-charcoal);
	--clr-font-heading: var(--clr-terracotta);
	--glass-contrast: var(--glass-dark);
	--glass-clr-bg: var(--glass-light);
}

[data-theme='dark'] {
	--clr-bg-main: var(--clr-black-red);
	--clr-bg-contrast: var(--clr-charcoal);
	--clr-text: var(--clr-lightGrey);
	--clr-font-heading: var(--clr-clay);
	--glass-contrast: var(--glass-light);
	--glass-clr-bg: var(--glass-dark);
	--glass-box-shadow: 0 8px 32px 0 rgba(79, 79, 85, 0.618);
	--glass-backdrop-filter: blur(10px);
	--glass-webkit-backdrop-filter: blur(10px);
	--glass-border-radius: 10px;
	--glass-outline: 1px solid rgba(255, 255, 255, 0.16);
}

html,
body {
	width: 100%;
	background-color: var(--clr-bg-main);
}

body {
	max-width: 2048px;
	margin: 0 auto;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
	color: var(--clr-font-heading);
}

h1 {
	font-size: 2.4rem;
	line-height: 2.4rem;
	margin-bottom: 4rem;
}

h2 {
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin: 4rem 0 2.4rem 0;
}

h3 {
	margin: 1.6rem 0 1.2rem 0;
	font-size: 1.6rem;
}

p,
li,
label {
	font-family: var(--font-family-body);
	color: var(--clr-text);
	font-size: var(--font-size-body);
}

p,
div > figure {
	margin-top: 0.4rem;
	padding-bottom: 0.4rem;
	margin-bottom: 0.4rem;
}

a {
	text-decoration: underline solid var(--clr-text);
	color: var(--clr-terracotta);
	font-family: var(--font-family-body);
}

h1 a,
h2 a {
	font-family: var(--font-heading);
	text-decoration: none;
}

figcaption {
	font-family: var(--font-family-body);
	font-weight: 400;
	color: var(--clr-text);
	text-align: center;
	letter-spacing: 0.04rem;
	font-size: 0.8rem;
	margin-top: 0.8rem;
}

audio {
	width: 100%;
}

details {
	border: 1px dotted var(--clr-terracotta);
	padding: 1rem;
	margin-bottom: 4rem;
}

summary {
	color: var(--clr-text);
	font-family: var(--font-family-body);
	text-transform: uppercase;
}

.pswp__dynamic-caption {
	font-family: var(--font-family-body);
}

@media (min-width: 600px) {
	h1 {
		font-size: 4rem;
		line-height: 4rem;
		margin-bottom: 4.8rem;
	}

	h2 {
		font-size: 2.4rem;
	}
}

/*Map*/

.fish,
.dingo,
.hawke {
	height: 100%;
	width: 100%;
	transform: scale(0.5, 0.5);
}

@media (min-width: 900px) {
	.fish,
	.dingo,
	.hawke {
		transform: scale(1, 1);
	}

	.fish img,
	.dingo img,
	.hawke img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
