/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/*Custom CSS*/


@font-face {
    font-family: "Playfair Display", serif;
    src: url(/fonts/PlayfairDisplay-VariableFont.ttf) format("truetype");
}

@font-face {
    font-family: "WorkSans";
    src: url(/fonts/WorkSans-VariableFont.ttf) format("truetype");
}

:root {
    --paragraph-padding: 1em;
    --color-terracotta: #C26F67;
    --color-dark-charcoal: #101010;
    --color-bg-light: #cbcbcb;
    --color-charcoal: #080808;
    --color-fg-dark: #4D4D4D;
    --text-light: #e6e6e6;
    --text-dark: #2f2f2f;
    --text-highlight: #d85245;
    --color-heading: #d85245;
    --font-body-copy: "WorkSans", Arial, Helvetica, sans-serif;
    --font-heading: "Playfair Display";
    --corner-radius: 4px;
    --margin-8: 8rem;
}

html,
body {
    width: 100%;
    background-color: var(--color-dark-charcoal);
}

body {
    max-width: 2048px;
    margin: 0 auto;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    color: var(--color-heading);
}

h1 {
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin-bottom: 4rem;

}

h2 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 4rem 0 2.4rem 0;

}

h3 {
    margin: 1.6rem 0 1.2rem 0;
    font-size: 1.6rem;
}

p,
li,
label {
    font-family: var(--font-body-copy);
    color: var(--text-light);
    font-size: 1.12rem;
}


p,
div>figure {
    margin-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-bottom: 0.4rem;
}

a {
    text-decoration: underline solid var(--color-heading);
    color: var(--text-highlight);
    font-family: var(--font-body-copy);
}

h1 a,
h2 a {
    font-family: var(--font-heading);
    text-decoration: none;
}

figcaption {
    font-family: var(--font-body-copy);
    font-weight: 400;
    color: var(--text-light);
    text-align: center;
    letter-spacing: 0.04rem;
    font-size: 0.8rem;
    margin-top: 0.8rem;
}

audio {
    width: 100%;
}

details {
    border: 1px dotted var(--text-highlight);
    padding: 1rem;
    margin-bottom: 4rem;
}

summary {
    color: var(--text-light);
    font-family: var(--font-body-copy);
    text-transform: uppercase;
}

@media (min-width: 600px) {
    h1 {
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 4.8rem;
    }

    h2 {
        font-size: 2.4rem;
    }
}